*{
    margin: 0;
    padding: 0;
}
body{
    background-color: slategray;
}
#txt{
    background-color: slategray;
    height: 20px;
    width: 260px;
    margin: auto;
    text-align: center;
}
.content{
 text-align: center;
    line-height: 100px;
}
